# ignore everything
*

# Do not ignore the followings:
!os/
!lazygit/
!opencode/
!scripts/
!ranger/rc.conf
!ranger/rifle.conf
!ranger/scope.conf
!tmux/
!yazi/
!zsh/
!README.md

# for macos
!AppleScript/
!aerospace/
!brew/


