# ignore everything
*

# Do not ignore the followings:
!os/
!AppleScript/
!lazygit/
!opencode/

!ranger/rc.conf
!ranger/rifle.conf
!ranger/scope.conf

!scripts/
!tmux/
!yazi/
!zsh/

!README.md

# macOS symlinks
aerospace
brew
iterm2
# Linux symlinks (add as needed)

